<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcis.frontier.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dcis.frontier.models.User">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="acount" jdbcType="VARCHAR" property="acount" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="perOrCom" jdbcType="VARCHAR" property="perOrCom" />
    <result column="qqNo" jdbcType="INTEGER" property="qqNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="worktime" jdbcType="TIMESTAMP" property="worktime" />
    <result column="MemberLong" jdbcType="INTEGER" property="memberLong" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>

  <select id="getDname" parameterType="map" resultType="map">
    select * from USER t
    <where>
      <if test="acount!='' and acount!=null">
        and t.acount=#{acount}
      </if>
      <if test="perOrCom!='' and perOrCom!=null">
        and t.per_or_com=#{perOrCom}
      </if>
      <if test="qqNo!='' and qqNo!=null">
        and t.qq_no=#{qqNo}
      </if>
    </where>
  </select>
</mapper>